body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#game-image{
  width: 1792px;
  height: auto;
  margin-top: 100px;
  overflow-x: auto;
}

/* #gameplay-container{
  cursor:none;
} */

.menuButton{
height: 500px;
width: 800px;
overflow: hidden;
margin: 100px;
}

.menuButton img.menuBallImage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 500px;
  height:100%;
  transform: translateX(30%);
}
.menuButton img.menuImage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 500px;
  height:100%;
  border-radius: 50%;
  transform: translateX(30%);
  opacity: 0;
  transition: opacity .2s;
}
.menuButton:hover img.menuImage {
  opacity: 1;
}

.gameImage-container{
  background-color: black;
}
.carousel-container{
  background-color: black;
}

.slider-container{
  transform: translateY(50%);
  background-color: black;
}

.slide{
  text-align: center !important;
}

.timer-container{
  display:inline-flex;
  width:100%;
}

#pause-button{
  position: relative;
  margin-left: auto;
  right:0;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#timer{
  position: relative;
  margin-left: 35%;
  color: red;
}

#timer-card{
  position: relative;
  top: 18%;
  transform: translate(0, 18%);
}

#return-menu-button{
  position: relative;
  top: 30%;
  transform: translate(0, 30%);
  margin-left: auto;
}